.perma-black-overlay {position: fixed;top: 0;left: 0;background: rgba(0, 0, 0, 0.56);z-index: 5;width: 100%;height: 100%;display: block;z-index: 99999;}
.perma-load-image {height: 65px;left: 50%;margin-left: -32.5px;margin-top: -32.5px;position: fixed;top: 50%;width: 65px;display: block;z-index: 999991;}
.pmsafe-metabox-table tr {
    border-top: 1px solid #EEEEEE;
}
.pmsafe-metabox-table th {
    width: 25%;
}
.pmsafe-metabox-table label span {
    color: #999999;
    font-size: 12px;
    display: block;
    line-height: 20px;
    margin: 0px 0 0;
    font-weight: normal;
}
.pmsafe-metabox-table input[type="radio"]{
    width: auto;
}
.pmsafe-metabox-table input, .pmsafe-metabox-table textarea {
    float: left;
    margin-right: 20px;
    width: 100%;
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

.pmsafe-metabox-table textarea#_nectar_slider_caption, .pmsafe-metabox-table input#_nectar_slider_heading {
  	transition: border-color 0.2s linear;
  	-webkit-transition: border-color 0.2s linear;
}

.pmsafe-metabox-table input[type=checkbox] {
	width: 20px;
}

.pmsafe-metabox-table input.file {
    width: 85%;
}
.pmsafe-metabox-table input.button {
    margin-right: 0;
    width: auto;
}
.pmsafe-metabox-table input.radio {
    float: none;
    margin-right: 3px;
    width: auto;
}
.pmsafe-metabox-table .radio-label {
    margin-right: 10px;
}
.form-field input[type=text],.form-field input[type=password], .form-field input[type=number], .form-field textarea, .form-field input[type=email] {
    width: 25em;
}
.error{color: #ff0000}
/* admin dealer and distributor */
form#perma_register_distributor_form div, form#perma_edit_distributor_form div, form#perma_register_dealer_form div, form#perma_edit_dealer_form div, form#perma_edit_customer_form div {
    margin: 0 0 15px 0;
}
form#perma_register_distributor_form label, form#perma_edit_distributor_form label, form#perma_register_dealer_form label, form#perma_edit_dealer_form label, form#perma_edit_customer_form label {
    display: inline-block;
    width: 25%;
    vertical-align: top;
}
form#perma_register_distributor_form input, form#perma_register_distributor_form textarea, form#perma_edit_distributor_form input, form#perma_edit_distributor_form textarea, form#perma_register_dealer_form input, form#perma_register_dealer_form textarea, form#perma_edit_dealer_form input, form#perma_edit_dealer_form textarea, form#perma_edit_customer_form textarea, form#perma_edit_customer_form input {
    display: inline-block;
    width: 75%;
}
form#perma_register_distributor_form input[type="button"], form#perma_register_dealer_form input[type="button"], form#perma_edit_dealer_form input[type="button"], form#perma_edit_distributor_form input[type="button"], form#perma_edit_customer_form input[type="button"] {
    width: auto;
    background: #dcd7d7;
    border: 0;
    padding: 10px;
    border-radius: 2px;
    color: #333;
}
form#perma_register_distributor_form input[type="submit"], form#perma_edit_distributor_form input[type="submit"], form#perma_register_dealer_form input[type="submit"], form#perma_edit_dealer_form input[type="submit"], form#perma_edit_customer_form input[type="submit"]{
    width: auto;
    /* background: #dcd7d7; */
    border: 0;
    padding: 10px;
    border-radius: 2px;
    color: #fff;
    display: block;
    margin-top: 30px;
    padding: 5px 40px;
    height: auto;
}
form#perma_register_distributor_form div#fname_divgroup label, form#perma_edit_distributor_form div#fname_divgroup label, form#perma_register_dealer_form div#fname_divgroup label, form#perma_edit_dealer_form div#fname_divgroup label {
    margin-bottom: 25px;
}

input#pmsafe_dealer_password, input#pmsafe_distributor_password, input#pmsafe_customer_password{
    width: 35% !important;
}
input#hide_dealer_password, input#show_dealer_password, input#cancel_dealer_password,
input#hide_distributor_password, input#show_distributor_password, input#cancel_distributor_password,
input#hide_customer_password, input#show_customer_password, input#cancel_customer_password{
    padding: 5px 20px 5px 20px !important;
}

table.distributors, table.dealers {
    border: 1px solid #e5e5e5 !important;
    box-shadow: 0 1px 1px rgba(0,0,0,.04) !important;
}
.customers_page_customer-filter div#wpcontent, .customers_page_customer-search div#wpcontent, .toplevel_page_distributors-lists div#wpcontent, .toplevel_page_dealers-lists div#wpcontent, .toplevel_page_customers-lists div#wpcontent, .toplevel_page_permasafe-upgraded-membership div#wpcontent  {
    padding-right: 60px;
}
table.distributors td, table.dealers td {
    border-bottom: 1px solid #e1e1e1;
}
table.distributors tr:nth-child(even), table.dealers tr:nth-child(even) {
    background: #f9f9f9;
}
table.distributors th a, table.distributors th, table.dealers th a, table.dealers th {
    color: #0073aa !important;
    font-weight: 600 !important;
}
.top-heading{
    color: #343434;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    font-family: serif;
}
.top-head h1 {
    display: inline-block;
    vertical-align: middle;
        margin: 0;
}
.top-head {
    padding: 15px 0 0;
}
.top-head a {
    padding: 4px 8px;
    position: relative;
    top: -3px;
    text-decoration: none;
    border: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    background: #f7f7f7;
    text-shadow: none;
    font-weight: 600;
    font-size: 13px;
    line-height: normal;
    color: #0073aa;
    cursor: pointer;
    outline: 0;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
    margin-left: 15px;
}
.top-head .navigation-btn a{margin-left:0px !important; margin-right:15px; }
.top-head a:hover{
    background: #007cbf;
    border-color: #007cbf;
    color: #ffffff;
}
.code-exist, .code-range{color:red;}
.type-pmsafe_bulk_invi span.inline.hide-if-no-js {
    display: none;
}
input#add_new_dealer:hover, input#add_new:hover {
    background: #0065a7 !important;
    cursor: pointer;
    color: #ffffff !important;
}
.nisl-pdf-link{display: none;}
#tbl_dealers_wrapper .dt-buttons, #tbl_distributors_wrapper .dt-buttons{display:none;}
#tbl_dealers_filter,#tbl_distributors_filter{margin-bottom: 20px;}
#tbl_dealers tr td,#tbl_distributors tr td{padding: 10px 10px;}
#tbl_dealers .row-actions a,#tbl_distributors .row-actions a{text-decoration: none !important;}
.dataTables_wrapper .dataTables_paginate .fg-button{background: #0065a7;color: #ffffff;}
/*datatable*/
 .dataTables_wrapper .fg-toolbar div.dataTables_length label {display: flex !important;align-items: center;}
.dataTables_wrapper .fg-toolbar div.dataTables_length label .fancy-select-wrap {padding-top: 0;margin: 0 6px;}
.dataTables_wrapper .fg-toolbar .dataTables_filter label {display: flex;align-items: center;}
.dataTables_wrapper thead tr th {  font-size: 13px;}
.dataTables_wrapper thead tr th span {right: 0 !important;}
table#search_tbl tr th span {
    right: -6px !important;
}
button.dt-button.buttons-csv.buttons-html5, button.dt-button.buttons-pdf.buttons-html5, button.dt-button.buttons-excel.buttons-html5,button.dt-button.buttons-print{background-color: #0065a7;padding: 7px 26px;border: none;color: #fff;cursor: pointer;float:left;font-weight: 600;}
button.dt-button.buttons-pdf.buttons-html5, button.dt-button.buttons-excel.buttons-html5, button.dt-button.buttons-print{ margin-left: 10px;}
.nisl-pdf-link{display: none;}
div#dealertable_filter label,
div#view_customer_table_filter label {display: flex;align-items: center;margin-bottom: 15px;    justify-content: flex-end;}
div#view_customer_table_filter label input[type="search"]{width: 25%;margin-left: 15px;min-width: 200px;}
div#perma-warranty-wrapper a input[type="button"] {margin-right: 0 !important;}
table#view_customer_table {  width: 100% !important;}
table#view_customer_table  thead tr th span {right: -12px !important;}
input#s2id_autogen1_search{display: none;}
div#perma-warranty-wrapper {position: relative;}
div#perma-warranty-wrapper .filter-wrapper {display: flex;position: absolute;right: 23%;top: -12px;z-index: 1;}
div#perma-warranty-wrapper .filter-wrapper .fancy-select-wrap{min-width: 160px;}
div#perma-warranty-wrapper .filter-wrapper .fancy-select-wrap + .fancy-select-wrap {margin-left: 15px;}
.filter-main-wrapper { position: relative;clear: both;}
.filter-main-wrapper .filter-wrapper {right: 25% !important;top: -1px !important;}
table#view_customer_table.dataTable.nowrap th, table#view_customer_table.dataTable.nowrap td {white-space: normal;}

table#view_customer_table.dataTable.nowrap th{border: 1px solid #ececec;}
table#view_customer_table.dataTable.nowrap{border-bottom: 1px solid #a1a0a0;}
div#view_customer_table_filter {margin-bottom: 15px;}
.text-center {text-align: center;}
/*datatable*/
#wpadminbar .quicklinks .ab-empty-item{margin-top:15px;}
.expired {color: #f80606;}
.active {color: #018701;}
.table-responsive{min-height: .01%;overflow-x: auto;}


table.view-distributor-tbl, table.view-dealer-tbl, table.view-customer-details-tbl, table.view-dealer-contacts-tbl,table.view-distributor-contacts-tbl, table.view-dealer-price-tbl, table.view-distributor-price-tbl {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
}

table.view-distributor-tbl td, table.view-distributor-tbl th, table.view-dealer-tbl td, table.view-dealer-tbl th, table.view-customer-details-tbl td, table.view-customer-details-tbl th, table.view-dealer-contacts-tbl td, table.view-dealer-contacts-tbl th,table.view-distributor-contacts-tbl td, table.view-distributor-contacts-tbl th, table.view-dealer-price-tbl td, table.view-dealer-price-tbl th, table.view-distributor-price-tbl td, table.view-distributor-price-tbl th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

table.view-distributor-price-tbl tr:nth-child(even),table.view-dealer-price-tbl tr:nth-child(even), table.view-dealer-contacts-tbl tr:nth-child(even),table.view-distributor-contacts-tbl tr:nth-child(even), table.view-distributor-tbl tr:nth-child(even), table.view-dealer-tbl tr:nth-child(even), table.view-customer-details-tbl tr:nth-child(even) {
    background-color: #dddddd;
}
.page-navigation {text-align: center;margin-top: 32px;}
.page-navigation a {display: inline-block;height: 32px;width: 32px;line-height: 32px;border: 1px solid #ebecec;text-decoration: none;}
.subsubsub li {color: #0065a7 !important;}   
.total-code span {color: #555d66;}
.used-code span {color: #555d66;}

.reports-wrap {display: flex;flex-wrap: wrap;}
.reports-wrap .reports-wrap-inner {width: 50%;display: flex;margin: 0 0 10px 0;}
.reports-wrap .reports-wrap-inner .label-input {width: 30%;}
.reports-wrap .reports-wrap-inner .input-div {width: 70%;}
.reports-wrap .input-btn {clear: both;width: 100%;text-align: center;margin-top: 15px;}
#date_submit, .reports-wrap .input-btn input {min-height: 36px;padding: 0 20px;margin: 0px 10px;border-radius: 4px;background: #1565a9;font-size: 14px;font-weight: bold;color: #fff;}
.reports-wrap .input-btn input#search_reset {background: #ddd;border: 0;color: #333;cursor: pointer;}
.view-data-wrap .view-data-wrap-inner {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;padding: 0 15px;}
.view-data-wrap .view-data-wrap-inner .input-div p {margin: 0 0 8px 0;}
.search-result-wrap .data-result-wrap .view-data-wrap h3 {background: #1565a9;color: #fff;padding: 5px 10px;font-size: 18px;text-align: center;}
.search-result-wrap .data-result-wrap .view-data-wrap .expired {color: red;}
.search-result-wrap .data-result-wrap .view-data-wrap p.expired {text-align: center;padding-bottom: 5px;}
.search-result-wrap .data-result-wrap .view-data-wrap .active {color: #00ac00;}
.view-data-wrap .view-data-wrap-inner .label-input {width: 15%;}
.search-result-wrap .tbl-result-wrap table#search_tbl td:first-child {position: relative;}
.search-result-wrap .tbl-result-wrap table#search_tbl td:first-child a.view-data {position: absolute;left: 0;top: 0;right: 0;bottom: 0;padding: 15px;color: #000;}
.search-result-wrap .tbl-result-wrap table#search_tbl td img.attachment-thumbnail {margin-bottom: 0;}
.search-result-wrap .tbl-result-wrap table#search_tbl td a {display: block !important;color: #000;}
.search-result-wrap .data-result-wrap{width:30%;}
.search-result-wrap .data-result-wrap .view-data-wrap {background: #fff;box-shadow: 0 0 10px 4px #0000002e;border-radius: 3px;margin-top: 28px;margin-left: 15px;padding-bottom: 10px;}
.search-result-wrap {display: flex;}
.search-result-wrap .tbl-result-wrap {width: 70%;}
.view-data-wrap .view-data-wrap-inner .label-input {min-width: 140px;}
 
table#search_tbl td{
padding: 0;
vertical-align: middle;
}
table#search_tbl  td a{
    padding: 8px 10px;
}
.customer-head{margin:10px !important;}


#search_tbl th.sorting.ui-state-default {border-left: medium none;border-style: none solid solid none;border-top: medium none;border-width: medium 1px 1px medium;font-weight: bold;padding: 10px;text-align: left;border-color: #ececec;}
.search-result-wrap .tbl-result-wrap table#search_tbl td a {display: inline-block;text-decoration: none;}
#search_tbl td {box-sizing: content-box;border-left-style: solid;border-left-width: 1px;border-color: #ececec;}
#search_tbl tbody td {border-bottom: 1px solid #ececec;}
#search_tbl{border: 1px solid #ececec !important;}
div#search_tbl_wrapper {margin-top: 30px;}
.filter-wrap {display: flex;flex-wrap: wrap;width: 100%;align-items: flex-start;box-shadow: 0 0 9px #ccc;padding: 20px 0 20px 0px;border: 1px solid white;margin-bottom: 20px;}
.filter-wrap .filter-package {margin: 0 15px;}
.filter-wrap  .reports-btn-wrap {width: 100%;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: end;-ms-flex-pack: end;justify-content: flex-end;margin: 15px 20px 0 20px;}
.filter-wrap .input-filter-wrap {width: 30%;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;padding:0 15px;}
.filter-wrap .filter-up{width: 20%;}
.filter-wrap .filter-mid{width: 17%;}
.filter-wrap .filter-down{width: 16%;padding: 0 15px;}
.filter-wrap select {width: 100%}
.filter-wrap .btn-filter-wrap {width: 10%;margin-right: 15px;}
.filter-wrap .input-filter-wrap input {width: 40% !important;margin: 0 10px;}
.filter-wrap .btn-filter-wrap input#date_submit, .filter-wrap .btn-filter-wrap input#membership_date_submit {width: 100%;margin: 0;}
.filter-wrap .select-filter-wrap .fancy-select-wrap {padding-top: 0;}
#date_submit{min-height: 30px !important;}
.top-head{margin-bottom: 20px;}
#mebership_info_table_filter input, #mebership_date_table_filter input{margin-bottom: 10px;}


.membership-count {display: flex;flex-wrap: wrap;}
.membership-count p {padding: 5px 10px;font-size: 15px;margin: 10px 5px 15px 5px;background-color: #cdcdcd;border-radius: 3px;}
.membership-count p:first-child {margin-left: 0 !important;}
.membership-count p:last-child {margin-right: 0 !important;}
.membership-count p span {font-weight: 600;padding-left: 5px;font-size: 17px;}


.lr-wrapper{display:flex}
.left-wrapper{width:40%;}
.right-wrapper{width:60%;}
.left-wrapper{padding-right:10px;}

table.view-dealer-price-tbl thead > tr > th:first-child {
    width: 20%;
}
table.view-dealer-price-tbl thead > tr > th:nth-child(2) {
    width: 20%;
    border-right: none !important;
}
table.view-dealer-price-tbl thead > tr > th:nth-child(3) {
    width: 20%;
    border-left: none;
    border-right: none !important;
}
table.view-dealer-price-tbl thead > tr > th:nth-child(4) {
    border-left: none;
}
table.view-dealer-price-tbl thead > tr > th:last-child {
    width: 25%;
    border-left: none;
}
table.view-dealer-price-tbl thead > tr > th p, table.view-distributor-price-tbl thead > tr > th p{margin: 0;}
table.view-dealer-price-tbl tr:nth-child(odd){
    background-color: #dddddd !important;
}
table.view-dealer-price-tbl tr:nth-child(even) , table.view-dealer-price-tbl thead > tr > th{
    background-color: #ffffff !important;
}
table.view-dealer-price-tbl thead > tr > th , table.view-dealer-price-tbl thead > tr > th p{font-weight: 700;}
#distributor_add_new_contact_person,#distributor_edit_new_contact_person,#edit_new_contact_person,#add_new_contact_person, #add_contact_person, #add_price,#add_package_price,#add_distributor_cost,#update_package_price,#update_distributor_cost{background: #0065a7;color: #fff;padding: 5px 10px;border: 0;border-radius: 5%;cursor: pointer;text-decoration: none;}
#mebership_info_table_wrapper thead tr th span, #mebership_date_table_wrapper thead tr th span{right:-18px !important;}

.post-type-pmsafe_bulk_invi .tablenav .bulkactions, .post-type-pmsafe_invitecode .tablenav .bulkactions{display:none;}
.post-type-pmsafe_bulk_invi table, .post-type-pmsafe_invitecode table{border:1px solid #eeecec !important}

/*sweet alert*/
.swal-icon--success__line, .swal-button--confirm, .swal-button--confirm:hover{background-color: #0065a7 !important;}
.swal-icon--success__ring{border: 4px solid hsla(222, 55%, 69%, 0.2) !important;}
.swal-button--danger,.swal-button--danger:hover{background-color: #df4740 !important;}

.dealer_add_form_div{border: 1px solid #ddd;-moz-box-shadow: 0 0 3px #ccc;-webkit-box-shadow: 0 0 3px #ccc;box-shadow: 0 0 3px #ccc;padding: 20px;}





/******** Responsive **********/

 
@media(max-width:1400px){
	.filter-main-wrapper .filter-wrapper {right: 35% !important;}
}

@media(max-width:1080px){
.filter-main-wrapper .filter-wrapper {position: static !important;margin-bottom: 10px;}
div#view_customer_table_wrapper .dt-buttons {display: -webkit-box;display: -ms-flexbox;display: flex;}
}

@media(min-width:1024px) and (max-width:1280px){
    .filter-wrap .filter-mid , .filter-wrap .filter-down{width: 14%;}
    .filter-wrap .btn-filter-wrap {width: 13%;}
}


@media(max-width:1024px){
    .search-result-wrap .tbl-result-wrap , .search-result-wrap .data-result-wrap {
        width: 100%;
    }
    .search-result-wrap{
-ms-flex-wrap: wrap;
flex-wrap: wrap;

    }
    .filter-wrap{justify-content: space-between;}
    .filter-wrap .input-filter-wrap {width: 48%;margin-bottom: 15px;padding: 0;}
    .filter-wrap .filter-up{width: 50%;margin-bottom: 15px;}
    .filter-wrap .filter-mid{width: 38%;}
    .filter-wrap .filter-down{width: 38%;padding: 0;}
    .filter-wrap .btn-filter-wrap {width: 20%;}

}
@media(max-width:767px){
    form#perma_register_distributor_form label{width:100%;}
    form#perma_register_distributor_form input, form#perma_register_distributor_form textarea{width:100%;}
    form#perma_register_distributor_form div#fname_divgroup label {margin-bottom: 5px;}
    div#tbl_dealers_filter, div#tbl_distributors_filter, div#view_customer_table_filter {display: -webkit-box;display: -ms-flexbox;display: flex;}
    div#search_tbl_wrapper {width: 100%;overflow: auto;}
    .reports-wrap .reports-wrap-inner ,  .reports-wrap .reports-wrap-inner .input-div input {width: 100%;}
    .search-result-wrap .dt-buttons {display: -webkit-box;display: -ms-flexbox;display: flex;}

}


@media(max-width:600px){
.filter-wrap .filter-up , .filter-wrap .input-filter-wrap {width: 100%;}
.filter-wrap .filter-mid {width: 100%;}
.filter-wrap .filter-down {width: 100%;margin-top: 20px;}
.filter-wrap .btn-filter-wrap {width: 100%;margin-top: 20px;}
.filter-wrap .input-filter-wrap { display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;}
.filter-wrap .input-filter-wrap input#datepicker2 {margin: 0;width: 50% !important;}
}


